@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
	user-select: none;
}

body, .btn-app{
	font-family: 'Architects Daughter', cursive;
}

body{
	//background: url("/src/img/backgroundIMG.jpeg") right;
	background: rgb(211, 206, 206);
	width: 100vw;
	height: 100vh;
}

.wrapper-app{
	width: 1350px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 10px;
	.wrapper-battlefields-app{
		display: flex;
		flex-direction: row;
		justify-content: center;
		.item{
			background: rgba(224, 24, 24, .6);
			text-align: center;
			margin-bottom: 40px;
			font-size: x-large;
		}
		.battlefield{
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			background: rgba(255, 245, 245, 0.8);
			table{
				border-collapse: collapse;
				border: 4px solid rgba(0, 0, 255, .7);
				tr,td{
					border: 1px solid rgba(0, 0, 255, 0.6);
					width: 32px;
					height: 32px;
					position: relative;
					td:hover{
						background: rgba(191, 191, 194, 0.6);
					}
				}
			}
			.marker{
				font-size: 18px;
				position: absolute;
			}
			.marker-row{
				left: 10px;
				top: -25px;
			}
			.marker-column{
				left: -25px;
				top: 10px;
			}
		}

		.wrapper-button{
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			padding: 40px;
			.btn-app{
				border-radius: 5px;
				font-size:medium;
				max-width: 250px;
				padding: 7px 14px;
				margin-bottom: 15px;
			}
			.result{
				padding-bottom: 130px;
				font-size: 32px;
			}
			.btn-surrender{
				margin: 0 79px;
			}
		}
	}
}

.ship{
	position: absolute;
	top: 0;
	left: 0;
	margin: -3px;
	border: 3px solid #0400ff;
	background: rgba(0, 55, 255, 0.45);
	width: 32px;
	height: 32px;
}

.ship-row-1 {
}

.ship-row-2 {
	width: 65px;
}

.ship-row-3 {
	width: 98px;
}

.ship-row-4 {
	width: 131px;
}

.ship-column-1 {
}

.ship-column-2 {
	height: 65px;
}

.ship-column-3 {
	height: 98px;
}

.ship-column-4 {
	height: 131px;
}


.shot {
	width: 32px;
	height: 32px;
	text-align: center;
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
}

.shot-missed {
	color: black;
}

.shot-wounded {
	background: #fbdede;
	z-index: 1;
}

.shot-wounded::after {
	content: " ";
	width: calc(32px * 1.3);
	height: calc(32px * 1.3);
	border-top: 2px solid red;
	position: absolute;
	z-index: -1;
	transform: rotate(45deg);
	top: 9px;
	left: -20px;
}

.shot-wounded::before {
	content: " ";
	width: calc(32px * 1.3);
	height: calc(32px * 1.3);
	border-top: 2px solid red;
	position: absolute;
	z-index: -1;
	transform: rotate(-45deg);
	top: 9px;
	left: 9px;
}

.shot-killed {
	margin: -3px;
	border: 3px solid red;
}

.star {
	width: 32px;
	height: 32px;
	text-align: center;
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
}
